{% extends 'base.html' %}
{% block content %}

<h3 class="header_text">Search Posts</h3>

<div class="search-page-container">
    <form action="{% url 'blog:search-posts' %}" method="get" class="search-products">
        <div class="form-input">
            {{search_form.search}}
        </div>
        <button type="submit">Search</button>
    </form>
</div>

<section class="post_4_column_grid">
    {% for post in search_results %}
    {% include 'blog/post-grids.html' %}
    {% empty %}
    <h4>No results "{{search_words|title}}"</h4>
    {% endfor %}
</section>

{% if is_paginated %}
<div class="paginators">
    {% if page_obj.has_previous %}
    <a href="?search={{search_words}}&page=1">First</a>
    <a href="?search={{search_words}}&page={{page_obj.previous_page_number}}">&laquo;</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="current-page" href="?search={{search_words}}&page={{num}}">{{num}}</a>

    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?search={{search_words}}&page={{num}}">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?search={{search_words}}&page={{page_obj.next_page_number}}">&raquo;</a>
    <a class="last-page" href="?search={{search_words}}&page={{page_obj.paginator.num_pages}}">Last</a>
    {% endif %}

</div>
{% endif %}

{% endblock content %}