{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if desc %}
    <meta name="description" content="{{desc}}" />
    {% else %}
    <meta name="description" content="2023 Blog webapp" />
    {% endif %}

    <title>
        {% if title %}
        {{title}}
        {% else %}
        BlogWebapp
        {% endif %}
    </title>
    
    <link rel="stylesheet" href="{% static '/css/resets-classes.css' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static '/css/post-details.css' %}" />
    <link rel="stylesheet" href="{% static '/css/post-form.css' %}" />
    <link rel="stylesheet" href="{% static '/css/post-search.css' %}" />
    <link rel="stylesheet" href="{% static '/css/contact-form.css' %}" />
    <link rel="stylesheet" href="{% static '/css/profile.css' %}" />
    <link rel="stylesheet" href="{% static '/css/media-queries.css' %}" />
</head>