$body-bg-clr : #f3f3f3;
$drk-white: #f8f8f8;
$fb-clr: #4c63a2;
$yt-clr: #c41713;
$pry-color : #212529;
$drk-purple : #04091e;
$sec-color : #6c757d;
$highest-z : 30;
$red-clr :#f6214b;
$pry-width : 1050px;
$blue: rgb(26, 115, 232);
$overblue: rgb(28, 90, 170);